# Human resources: Understanding association between department and participation in wellness program

#### Scenario
A human resource department wants to understand the relationships between different variables that might influence employee satisfaction or turnover. The HR department is interested in understanding the association between the department in which employees work and their participation in a new workplace wellness program. The HR team has compiled this data over the past two years and has asked your assistance to check if there's any significant association between an employee's department and their enrolling in the wellness program.

Null hypothesis : There is an association between department and the workplace wellness program

In [12]:
#importing relevant libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [13]:
#load data
df = pd.read_csv('hr_wellness.csv')
df

       Department Wellness_Program_Status
0       Marketing                Enrolled
1           Sales                Enrolled
2       Marketing            Not Enrolled
3       Marketing            Not Enrolled
4           Sales                Enrolled
...           ...                     ...
1415        Sales                Enrolled
1416  Engineering                Enrolled
1417  Engineering                Enrolled
1418    Marketing                Enrolled
1419        Sales                Enrolled

[1420 rows x 2 columns]

In [10]:
#checking for nulls
df.isnull().sum()

Department                 0
Wellness_Program_Status    0
dtype: int64

In [6]:
#creating a contingency table
from scipy.stats import chi2_contingency
contingency_table = pd.crosstab(df['Department'], df['Wellness_Program_Status'])

#testing association
chi2_stat, p_val, dof, expected = chi2_contingency(contingency_table)
print(f"P-value: {p_val}")

P-value: 0.17573344450112738

In [14]:
#assuming that we set significance level at 50%
alpha = 0.5
if p_val < alpha:
    print('Reject null hypothesis')
else:
    print('Fail to reject null hypothesis')

Reject null hypothesis

##### Overall:
Now, HR understands that there's no significant association between department and enrollment in the wellness program, as the P-value is less than the average risk allowed i.e (0.50).